/* main.scss */

body {
  background-color: rgb(140, 242, 255);

  background-image: url('./400.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

.pure-button {
  -webkit-border-radius: 1em;
  border-radius: 1em;
}